{% extends 'base.html.twig' %}

{% block title %}Asistente de creación de conjunto de datos - Alineacion EI2A{% endblock title %}

{% block body %}
<div class="container" style="display:{{ permisoEdicion }}">
    <div class="row">  
        <input type='hidden' id="subtipo" value='{{ subtipo }}'/>            
        <div id="col02" class="col col-12">
            <div class="form formtheme01">
                <h1>Asistente de creación de conjunto de datos</h1>
                <div class="listadoPasos">
                    <ul>
                        <li class="paso01 complete">
                            <span>1</span>
                        </li>
                        <li class="paso02 complete">
                            <span>2</span>
                        </li>
                        <li class="paso04 complete">
                            <span>3</span>
                        </li>
                        <li class="paso03 active">
                            <span>4</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="box">
                        {{ form_start(alineacion_form) }}
                        <div class="fieldset fieldset01">
                            <fieldset class="mediumLabels">
                                <legend>Paso 4</legend>
                                <h2>Estructura - Integración</h2>
                                <div class="fieldsetContent">
                                    <p id="alineacionEntidad_help">Puedes relacionar tus datos con la <a href='https://opendata.aragon.es/def/ei2av2/' target='_blank'>Estructura de Información Interoperable de Aragón EI2A</a> para identificarlos mejor y poderlos conectar con otros datos diferentes. Elige cuál es la mejor entidad que representa tus datos de las disponibles y empareja tus atributos con sus propiedades. Si en tus datos tienes más entidades, que se relacionan con la principal, también puedes escogerlas en la lista desplegable disponible para cada atributo y vincular tus atributos con sus propiedades</p>
                                    <br/>
                                    {{ form_widget(alineacion_form) }}
                                    <div class="form-group" id="archivoCargado" style="display:none">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                                 <tr><i>Archivo temporal</i><tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div id="actionButtons" class="fieldset actionButtons" style="display: none;">
                                        <fieldset>
                                            <input class="submit" value="Anterior" onclick="location.href='{{ locationAnterior }}'">
                                            <input class="submit principal" type="submit" value="Omitir y publicar" onclick="enviar('omitir');">
                                            <input class="submit principal" type="submit" value="Guardar y publicar" onclick="enviar('guardar')";>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        {{ form_end(alineacion_form) }}
                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="/js/seleccion.js"></script>
{% endblock %}