{% extends 'base.html.twig' %}

{% block title %}Asistente de creación de conjunto de datos - Alineacion EI2A{% endblock title %}

{% block body %}
<div class="container" style="display:{{ permisoEdicion }}">
    <div class="row">     
       <input type='hidden' id="entidadPrincipal" value='{{ entidadPrincipal }}'/>         
        <div id="col02" class="col col-12">
            <div class="form formtheme01">
                <h1>Asistente de creación de conjunto de datos</h1>
                <div class="listadoPasos">
                    <ul>
                        <li class="paso01 complete">
                            <span>1</span>
                        </li>
                        <li class="paso01-1 complete">
                            <span></span>
                        </li>
                        <li class="paso01-2 complete">
                            <span></span>
                        </li>
                        <li class="paso02 complete">
                            <span>2</span>
                        </li>
                        <li class="paso03 active">
                            <span>3</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="box">
                        {{ form_start(alineacion_form) }}
                        <div class="fieldset fieldset01">
                            <fieldset class="mediumLabels">
                                <legend>Paso 3</legend>
                                <h2>Integración de los datos - Alineamiento con el modelo EI2A</h2>
                                <div class="fieldsetContent">
                                    <p id="alineacionEntidad_help">Elige cuál es la entidad que representa tus datos principalmente y a continuación empareja tus atributos con sus propiedades. Si en tus datos tienes más entidades, que se relacionan con la principal, también puedes escogerlas en la lista desplegable disponible para cada atributo y vincular tus atributos con sus propiedades.</p>
                                    <br/>
                                    {{ form_widget(alineacion_form) }}
                                      <div class="fieldset actionButtons">
                                        <fieldset>
                                            <input class="submit" value="Anterior" onclick="location.href='{{ locationAnterior }}'">
                                            <input class="submit principal" type="submit" value="Omitir paso" onclick="enviar('omitir');">
                                            <input class="submit principal" type="submit" value="Guardar y siguiente..." onclick="enviar('guardar')";>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        {{ form_end(alineacion_form) }}
                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="/js/seleccion.js"></script>
{% endblock %}